# Client ================================================================================================

# Ignoruj Unity buildy i cache – działa dla client/
client/[Ll]ibrary/
client/[Tt]emp/
client/[Oo]bj/
client/[Bb]uild/
client/[Ll]ogs/
client/[Mm]emoryCaptures/

# Ignoruj pliki Visual Studio / Rider
client/*.csproj
client/*.sln
client/*.user
client/*.pidb
client/*.unityproj
client/.vs

# Server ================================================================================================

# Build artifacts
server/ServerKlocki/ServerKlocki/bin/
server/ServerKlocki/ServerKlocki/obj/
server/ServerKlocki/ServerKlocki/out/

# VS / VSCode settings
server/ServerKlocki/.vscode/
server/ServerKlocki/.vs/
server/ServerKlocki/.idea/

TestBuild/
